nav {
    padding: 1rem;
    border-radius: 20px;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 10px 10px 20px rgba(6, 132, 103, 0.7), -10px -10px 20px rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
  
  ul {
    list-style-type: none; /* Remove bullets */
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    position: relative;
    justify-content: space-between; /* Space out the items */
  }
  
  li {
    margin: 0;
  }
  
  a {
    color: #ffffff; /* White text color */
    text-decoration: none; /* Remove underline */
    font-size: 1.1rem;
    padding: 5px 20px;
    display: inline-block;
    background-color: #32045a; /* Match the navbar background */
    border-radius: 15px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7), -8px -8px 16px rgba(255, 255, 255, 0.1); /* Raised effect */
    transition: all 0.3s ease;
  }
  
  a:hover {
    background-color: #230843;
    color: #f0eeee; /* Slightly lighter on hover */
  }
  
  
  