/* Container for centering elements */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Form container styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form elements */
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px; /* Space between input elements */
  width: 300px; /* Consistent width */
}

button.form-button {
  padding: 10px 25px;
  width: 200px;
  background-color: #300adb;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

button.form-button:hover {
  background-color: #040a7d;
}

/* Table container styles */
.table-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Center the table container */
  overflow-x: auto; /* For responsive scrolling */
  margin-top: 20px;
}

/* Table styles */
table {
  width: 80%; /* Adjust width to prevent overflow */
  max-width: 800px; /* Limit the maximum width */
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center; /* Center align table data */
}

th {
  background-color: #0b0464; /* Blue background */
  color: #fff; /* White text */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Light grey for even rows */
}

tr:hover {
  background-color: #03113f; /* Hover effect */
}

/* Image styles */
.voter-list-table-data img {
  display: block;
  margin: auto;
  border-radius: 50%; /* Circular image */
  border: 1px solid #ddd;
}

/* Voter profile image size */
.voter-image {
  width: 70px;
  height: 70px;
}

/* Center container for the voting form */
.vote-form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form elements */
  margin-top: 20px; /* Space from the previous section */
}

.vote-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-form-container label {
  margin-bottom: 5px; /* Space between label and input */
}

.vote-form-container input {
  padding: 5px;
  margin-bottom: 10px; /* Space between input fields */
  width: 300px; /* Consistent width for inputs */
}

.vote-form-container button {
  padding: 10px 25px;
  width: 200px;
  background-color: #300adb;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.vote-form-container button:hover {
  background-color: #040a7d;
}

