body {
    background: #000428;  
    background: -webkit-linear-gradient(to right, #024076, #000428);  
    background: linear-gradient(to right, #013f75, #000428); 
    color: #00aaff;
    text-align: center;
    padding: 50px;
}
h1 {
    font-size: 100rem;
    margin-bottom: 20px;
}
h2 {
/*     font-size: 1rem;
 */    color: #a0c4ff;
    margin-bottom: 30px;
}
.cw-btn {
    background-color: #00aaff;
    color: #010a0f;
    padding: 10px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bolder;
}
.cw-btn:hover {
    background: orange;
    color: #0a0000;
}
.image-container {
    margin-top: 50px;
}
.image-container img {
    opacity: 0.7;
    max-width: 100%;
}