body {
    background-color: #0a0f2c;
    color: #00aaff;
    text-align: center;
    padding: 50px;
}
h1 {
    font-size: 100rem;
    margin-bottom: 20px;
}
h2 {
/*     font-size: 1rem;
 */    color: #a0c4ff;
    margin-bottom: 30px;
}
.btn-custom {
    background-color: transparent;
    border: 2px solid #00aaff;
    color: #00aaff;
    padding: 10px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-custom:hover {
    background-color: #00aaff;
    color: #0a0f2c;
}
.image-container {
    margin-top: 50px;
}
.image-container img {
    opacity: 0.7;
    max-width: 100%;
}