/* Container for centering the form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Main form styling */
  form {
    background: #0cc2e6;  /*06accd*/
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #50a6ed;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Labels */
  form label {
    font-size: 15px;
    font-weight: bolder;
    color: #000000;
  }
  
  /* Input fields */
  form input[type="text"], 
  form input[type="number"], 
  form input[type="file"] {
    padding: 10px;
    margin-top: -15px;
    border: none;
    border-radius: 10px;
    background: #fefefe;
    color: #000000;
    transition: 0.3s;
    width: calc(100% - 20px);
  }
  
  form input[type="text"]:focus, 
  form input[type="number"]:focus, 
  form input[type="file"]:focus {
    outline: none;
  }
  
  /* Radio buttons container */
  form .dropdown {
    min-height: 5vh;
    margin-top: -10px;
    display: flex;
    justify-content: center;
  }
  
  form .dropdown label {
    font-weight: 500;
  }
  
  .dropdown input {
    margin-right: 5px;
  }
  
  .dropdown div {
    display: flex;
    align-items: center;
  }
  
  /* The submit button */
  form button {
    padding: 10px 25px;
    width: 200px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    background: #300adb;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button {
    padding: 10px 25px;
    width: 200px;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    background: #dbcd0a;
    color: rgb(8, 2, 2);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #968a07;
}
  
  form button:hover {
    background: #040a7d;
  }
  
  @media (max-width: 450px) {
    form {
      width: 100%;
      padding: 20px;
    }
  }
  