/* Table container styles */
.candidate-list-table-container {
  margin-top: 20px;
}

/* Table styles */
.candidate-list-table {
  width: 100%;
  border-collapse: collapse;
}

/* Table header styles */
.candidate-list-table-header {
  background-color: #f2f2f2; /* Light grey background */
  padding: 10px;
  text-align: center;
  color:#333;

}

/* Table body styles */
.candidate-list-table-data {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Bottom border */
  color:#333
}


